/* ---------- Fonts ---------- */
/* We import 3 font faces from google fonts to be used on the website */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Roboto|Roboto+Slab&display=swap');
/* Another font is imported from the same server. This font was downloaded from the internet */
@font-face {
    font-family: Strange;
    src: url(../font/Strange.ttf);
}

/* ---------- General Styles ---------- */
/* 
    We use variables here to define the main colors because it helps us be consistent across the site.
    It also makes it easier to change one color across the site by changing the variable value here.
*/
:root {
  --black-color: black;
  --white-color: white;
  --light-grey-color: grey;
  --dark-grey-color: #1d1d1d;
  --secondary-color: #f30000;
  --accent-color: #80ff00;
}

/*
    In this section we define some default properties for generic tags such as h2, p, etc...
    These properties include font faces, color and text alignemnt. 
    These are just the default, web page specific styles change these when needed.
*/
html {
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 2em;
}

h3 {
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

p {
    color: var(--white-color);
    font-size: 1.3em;
}

a, address {
    font-size: 1.3em;
}

h1 {
    font-family: 'Strange', Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
}

a {
    color: var(--accent-color);
}

button {
    padding: 5px;
    background-color: var(--secondary-color);
    border: none;
    font-family: 'Roboto Slab', "Times New Roman", Times, serif;
    font-size: 1.2em;

}

input {
    padding: 5px;
    font-size: 1.2em;
}

/* ---------- Attraction Page Styles ---------- */
/* 
    Here we define the grid that creates the layout of the page.
    It has 2 columns and 4 rows.
*/
main#ap-main {
    display: grid;
    grid-template-areas: 
        "mainBanner mainBanner"
        "information stats"
        "howToEnjoy howToEnjoy"
        "map map";
    /* columns need to have the sme width */
    grid-template-columns: 50% 50%;
    /* 
        We want the rows to take a fraction each except the first one which looks better at 600px. 
        It also makes sure that people can see information below the main banner on desktop without having to scroll.
    */
    grid-template-rows: 600px repeat(3, 1fr);
}

/*
    For this page we want a consistent padding of 50px and the text centered.
*/
#ap-main > section {
    text-align: center;
    padding: 50px;
}

#ap-main > section > h2{
    color: var(--accent-color);
}

#ap-main-banner {
    grid-area: mainBanner;
    /* 
        Applying an image as the background of the main banner.
        "Contain" size is used to make sure the image is fully visible.
    */
    background: url(../img/banner.jpg);
    background-size: contain;
    /* 
        Position relative has been set here so that the child element #ap-title can be 
        positioned relative to this element.
    */
    position: relative;
}

#ap-title {
    /* Position element relataive to its parent */
    position: absolute;
    width: 600px;
    height: 300px;
    /* Position in the center of its parent, we substract half of the element's width and height to make sure it is centered. */
    left: calc(50% - 300px);
    top: calc(50% - 150px);
    padding: 20px;
    background-color: var(--black-color);
    border: 5px solid var(--white-color);
    
}

#ap-information {
    grid-area: information;
    border: 5px solid var(--light-grey-color);
}

#ap-stats {
    grid-area: stats;
    background-color: var(--light-grey-color);
    
}

#ap-stats > table {
    /* Collapse table border into a single border */
    border-collapse: collapse;
    border: 5px solid var(--white-color);
    /* Center the table within its container */
    margin: auto;
}

#ap-stats > table td {
    /* Padding and font size which helps make the table feel less cluttered */
    padding: 30px;
    border: 5px solid var(--black-color);
    color: var(--black-color);
    font-size: 1.3em;
}

/* By using the first-child pseudo class we are able to style the headers differently in order to differenciate them */
#ap-stats > table td:first-child {
    font-weight: bold;
    font-style: italic;
}

#ap-how-to-enjoy {
    grid-area: howToEnjoy;
}

#ap-map {
    grid-area: map;
    background-color: var(--light-grey-color);
}

#ap-map > img {
    /* Apply a border to he map image which makes it stand out against the background */
    border: 5px solid white;
}

/* ---------- Services Page Styles ---------- */

#service-title {
    padding: 50px;
}

#service-navigation {
    /* 
        We change the color for each section so it contrast with the previous one. 
        This makes it obvious to the user that a different kind of information is being presented to them.
    */
    background-color: var(--dark-grey-color);
    padding: 50px;
    /*
        The navigation is presented as a grid with 4 columns of equal size with the cells justified to the center.
    */
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
}

#service-navigation img {
    /* 
        This makes sure that the image can't ocuppy more space than their containers (grid cells) 
        So if the screen is resized and the cells get smaller, so do the images.
    */
    max-width:100%;
}

#service-navigation a:nth-child(-n+3) {
    /* We apply bottom padding to the first row of links only. The second row already has padding for the parent. */
    padding-bottom: 50px;
}

.service-info {
    padding: 50px 20%;
    
}

.service-info:nth-child(odd) {
    /* We alternate the colors if the service sections so that they contrast with each other */
    background-color: var(--light-grey-color);
}

.service-info h2 {
    text-align: left;
    color: var(--accent-color);
}


/* ---------- Home Page Styles ---------- */

.attractions {
    background-color: var(--dark-grey-color);
}

#homepage section {
    padding: 50px;
}

#homepage .banner {
    position: relative;
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 500px;
}

#hp-banner-text {
    position: absolute;
    width: 600px;
    height: 200px;
    left: calc(50% - 325px);
    top: calc(50% - 125px);
    padding: 20px;
    background-color: black;
    border: 5px solid white;
}

#hp-banner-btn {
    position: absolute;
    width: 300px;
    height: 60px;
    bottom: 100px;
    left: calc(50% - 150px);
    outline: 0;
    border: 0;
    color: white;
    font-family: 'Roboto', "Times New Roman", Times, serif;
}

.carousel a {
    font-size: 1em;
}

#homepage .carousel ul,
#homepage .attractions ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#homepage .attractions ul {
    flex-wrap: wrap;
}
#homepage .carousel ul li,
#homepage .attractions ul li {
    position: relative;
    margin-bottom: 30px;
    width: 22%;
}

#homepage .attractions ul li {
    width: 31%;
}
#homepage .attractions ul li:before {
    content: '';
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    left: 0;
    transition: all 200ms ease-in-out;
}

#homepage .attractions ul li:hover:before {
    background-color: rgba(0,0,0,0.1);

}
#homepage .attractions > a {
    text-align: center;
    display: block;
}

.carousel img {
    height : 350px;
}

#homepage .carousel ul li img,
#homepage .attractions ul li img {
    width: 100%;
    object-fit: cover;
}

#homepage .attractions ul li img {
    height: 100%;
}

#homepage .attractions ul li img + a {
    position: absolute;
    color: #fff;
    font-size: 28px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
}


.clearfix {
    clear: both;
}

/* ---------- Header Styles ---------- */

header {
    /* The header is displayed as a grid with six columns, containing the logo, nav bar and search box */
    display: grid;
    grid-template-areas: 
        "logo nav nav nav nav search-bar";
    width: 100%;
    grid-template-columns:  repeat(6, auto);
    grid-template-rows: auto;
    align-items: center;
    border-bottom: 5px solid white;

}

#logo {
    /* The logo is assigned to the grid area "logo" and displayed within the header grid */
    display: inline-block;
    grid-area: logo;
    height: 200px;
}

/* ---------- Nav Styles ---------- */

nav {
    /* The nav bar is assigned to the grid area "nav" and displayed within the header grid */
    grid-area: nav;
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    color:hsl(0,0%,255%);
    display:inline-block;
    border-bottom: 2px solid var(--black-color);
    padding:1em;
    margin: 15px;
}

nav a:hover {
    /* a coloured border is displayed on hover and is eased in with a short animation */
    border-bottom: 2px solid var(--accent-color);
    transition: border-bottom 300ms ease;

}

#search-bar {
    /* The search bar is assigned to the grid area "search-bar" and displayed within the header grid */
    grid-area: search-bar;
}

/* ---------- Footer Styles ---------- */

footer {
    /* Footer is also displayed as a grid with 3 columns of equal width */
    display: grid;
    grid-template-areas: 
        "social social social"
        "ticket-links attraction-links contact-info";
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
}

footer > div {
    /* Padding is applied to each dive to keep it consistent with the rest of the site */
    padding: 50px 0px;
}

footer > .social {
    width: 100%;
    grid-area: social;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
}

footer > .social > a{
    padding: 5px 100px;
}

footer > .social img{
    width: 50px;
    height: 50px;
}

footer > .footer-tickets {
    grid-area: ticket-links;
}

footer > .footer-attractions {
    grid-area: attraction-links;
}

footer > .footer-contact {
    grid-area: contact-info;
}

footer > .footer-contact a{
    font-size: inherit;
}

footer > .footer-links a{
    display: block;
    margin-bottom: 20px;
}

