/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Roboto|Roboto+Slab&display=swap');

@font-face {
    font-family: Strange;
    src: url(../font/Strange.ttf);
}

/* ---------- General Styles ---------- */

:root {
  --black-color: black;
  --white-color: white;
  --light-grey-color: grey;
  --dark-grey-color: #1d1d1d;
  --secondary-color: #f30000;
  --accent-color: #80ff00;
}

html {
    background-color: var(--black-color);
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
}

p {
    color: white;
}

h1 {
    font-family: 'Strange', Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
}

a {
    color: var(--accent-color);
}

button {
    padding: 5px;
    background-color: var(--secondary-color);
    border: none;
    font-family: 'Roboto Slab', "Times New Roman", Times, serif;
    font-size: 1.2em;

}

input {
    padding: 5px;
    font-size: 1.2em;
}

/* ---------- Attraction Page Styles ---------- */

#ap-main-banner, #ap-about-ride, #ap-how-to-enjoy{
    text-align: center;
}

.map {
    background-color: var(--dark-grey-color);
}

#stats {
    background-color: var(--light-grey-color);
}

/* ---------- Services Page Styles ---------- */

#serviceNavigation {
    background-color: var(--dark-grey-color);
}

/* ---------- Home Page Styles ---------- */

.attractions {
    background-color: var(--dark-grey-color);
}

/* ---------- Footer Styles ---------- */

.social {
    background-color: var(--white-color);
    color: var(--black-color);
}
