/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Roboto|Roboto+Slab&display=swap');

@font-face {
    font-family: Strange;
    src: url(../font/Strange.ttf);
}

/* ---------- General Styles ---------- */

:root {
  --black-color: black;
  --white-color: white;
  --light-grey-color: grey;
  --dark-grey-color: #1d1d1d;
  --secondary-color: #f30000;
  --accent-color: #80ff00;
}

html {
    background-color: var(--black-color);
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
}

h3 {
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

p {
    color: white;
    font-size: 1.3em;
}

a, address {
    font-size: 1.3em;
}

h1 {
    font-family: 'Strange', Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
}

a {
    color: var(--accent-color);
}

button {
    padding: 5px;
    background-color: var(--secondary-color);
    border: none;
    font-family: 'Roboto Slab', "Times New Roman", Times, serif;
    font-size: 1.2em;

}

input {
    padding: 5px;
    font-size: 1.2em;
}

/* ---------- Attraction Page Styles ---------- */

main#ap-main {
    display: grid;
    grid-template-areas: 
        "mainBanner mainBanner"
        "information stats"
        "howToEnjoy howToEnjoy"
        "map map";
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px repeat(3, 1fr);
}

main#ap-main > section {
    text-align: center;
    padding: 50px;
}

main#ap-main > section > h2{
    color: var(--accent-color);
}

main#ap-main > section#ap-main-banner {
    grid-area: mainBanner;
    background: url(../img/banner.jpg);
    background-size: contain;
    
    position: relative;
}

main#ap-main > section#ap-main-banner > div#ap-title {
    position: absolute;
    width: 600px;
    height: 300px;
    left: calc(50% - 300px);
    top: calc(50% - 150px);
    padding: 20px;
    background-color: black;
    border: 5px solid white;
    
}

main#ap-main > section#information {
    grid-area: information;
    border: 5px solid var(--light-grey-color);
}

main#ap-main > section#stats {
    grid-area: stats;
    background-color: var(--light-grey-color);
    
}

section#stats > table {
    border-collapse: collapse;
    border: 5px solid white;
    margin: auto;
}

section#stats > table td {
    padding: 30px;
    border: 5px solid black;
    color: black;
    font-size: 1.3em;
}


section#stats > table td:first-child {
    font-weight: bold;
    font-style: italic;
}

main#ap-main > section#ap-how-to-enjoy {
    grid-area: howToEnjoy;
}

main#ap-main > section.map {
    grid-area: map;
    background-color: var(--light-grey-color);
}

main#ap-main > section.map > img {
    border: 5px solid white;
}

/* ---------- Services Page Styles ---------- */

#service-title {
    padding: 50px;
}

#serviceNavigation {
    background-color: var(--dark-grey-color);
    padding: 50px;
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
}

#serviceNavigation img {
    max-width:100%;
}

#serviceNavigation a:nth-child(-n+3) {
    padding-bottom: 50px;
}

.service-info {
    padding: 50px 20%;
    
}

.service-info:nth-child(odd) {
    background-color: var(--light-grey-color);
}

.service-info h2 {
    text-align: left;
    color: var(--accent-color);
}


/* ---------- Home Page Styles ---------- */

.attractions {
    background-color: var(--dark-grey-color);
}

#homepage section {
    padding: 50px;
}

#homepage .banner {
    position: relative;
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 500px;
}

#hp-banner-text {
    position: absolute;
    width: 600px;
    height: 200px;
    left: calc(50% - 325px);
    top: calc(50% - 125px);
    padding: 20px;
    background-color: black;
    border: 5px solid white;
}

#hp-banner-btn {
    position: absolute;
    width: 300px;
    height: 60px;
    bottom: 100px;
    left: calc(50% - 150px);
    outline: 0;
    border: 0;
    color: white;
    font-family: 'Roboto', "Times New Roman", Times, serif;
}

.carousel a {
    font-size: 1em;
}

#homepage .carousel ul,
#homepage .attractions ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#homepage .attractions ul {
    flex-wrap: wrap;
}
#homepage .carousel ul li,
#homepage .attractions ul li {
    position: relative;
    margin-bottom: 30px;
    width: 22%;
}

#homepage .attractions ul li {
    width: 31%;
}
#homepage .attractions ul li:before {
    content: '';
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    left: 0;
    transition: all 200ms ease-in-out;
}

#homepage .attractions ul li:hover:before {
    background-color: rgba(0,0,0,0.1);

}
#homepage .attractions > a {
    text-align: center;
    display: block;
}

.carousel img {
    height : 350px;
}

#homepage .carousel ul li img,
#homepage .attractions ul li img {
    width: 100%;
    object-fit: cover;
}

#homepage .attractions ul li img {
    height: 100%;
}

#homepage .attractions ul li img + a {
    position: absolute;
    color: #fff;
    font-size: 28px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
}


.clearfix {
    clear: both;
}

/* ---------- Header Styles ---------- */

header {
    display: grid;
    grid-template-areas: 
        "logo nav nav nav nav search-bar";
    width: 100%;
    grid-template-columns:  repeat(6, auto);
    grid-template-rows: auto;
    align-items: center;
    border-bottom: 5px solid white;

}

#logo {
    display: inline-block;
    grid-area: logo;
    height: 200px;
}

/* ---------- Nav Styles ---------- */

nav {
    grid-area: nav;
    display: grid;
    justify-items: center;
    text-align: center;
/*
    grid-template-areas: 
        "mainBanner mainBanner"
        "information stats"
        "howToEnjoy howToEnjoy"
        "map map";
*/
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    color:hsl(0,0%,255%);
    display:inline-block;
    border-bottom: 2px solid var(--black-color);
    padding:1em;
    margin: 15px;
}

nav a:hover {
    border-bottom: 2px solid var(--accent-color);
    transition: border-bottom 300ms ease;

}

#search-bar {
    grid-area: search-bar;
}

/* ---------- Footer Styles ---------- */

footer {
    display: grid;
    grid-template-areas: 
        "social social social"
        "ticket-links attraction-links contact-info";
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
}

footer > div {
    padding: 50px 0px;
}

footer > .social {
    width: 100%;
    grid-area: social;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
}

footer > .social > a{
    padding: 5px 100px;
}

footer > .social img{
    width: 50px;
    height: 50px;
}

footer > .footer-tickets {
    grid-area: ticket-links;
}

footer > .footer-attractions {
    grid-area: attraction-links;
}

footer > .footer-contact {
    grid-area: contact-info;
}

footer > .footer-contact a{
    font-size: inherit;
}

footer > .footer-links a{
    display: block;
    margin-bottom: 20px;
}

